@page
@model PublicWebsite.Pages.ManagePackages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="Packages" asp-action="Create" method="POST">
    <h2>Upload package</h2>
    <label for="packageNameInput">Package name:</label><input type="text" id="packageNameInput" asp-for="PackageName" />
    <label for="packageDescriptionInput">Package description:</label><textarea id="packageDescriptionInput" asp-for="PackageDescription"></textarea>
    <label for="authorIdInput">Author id:</label><input type="number" id="authorIdInput" asp-for="PackageAuthorId" />
    <br />
    <input class="btn btn-primary" type="submit" />
</form>