@page
@model ContributorWebsite.Pages.ManagePackagesModel
@{
    ViewData["Title"] = "ManagePackages";
}

<h2>Manage Packages</h2>

<a class="btn btn-primary"
   asp-page="/ManagePackages/Create"
   role="button">Create new package</a>

<h3>Owned packages</h3>
<ul>
    <li>Demo package #1</li>
    <li>Demo package #2</li>
    <li>Demo package #3</li>
    <li>Demo package #4</li>
</ul>