@page
@model ContributorWebsite.Pages.ManagePackagesModel
@{
    ViewData["Title"] = "ManagePackages";
}

<h2>Manage Packages</h2>

<a class="btn btn-primary"
   asp-page="/ManagePackages/Create"
   role="button">Create new package</a>

<h3>Owned packages</h3>
<ul>
    @foreach (var package in Model.Packages)
    {
        <li>
            <a class="btn btn-primary"
               href="/ManagePackages/Package?packageId=@package.Id">@package.Identifier</a>
        </li>
    }
</ul>